<%- include("header.ejs") %>
    <div class="error d-flex align-items-center justify-content-center ">
        <div class="row">
            <div class="col-12">
                <div class=" d-flex align-items-center justify-content-center "></div>
                <p class="whitetext">
                    Welcome to my small pokedexproject!
                <p>
                <p class="whitetext">Use the search bar in the top left to find the pokemon you are looking for </p>
                <p class="whitetext">Not sure where to start ? use the random button</p>

                <a href="/random" class="btn btn-primary   whitetext" type="button">RANDOM</a>
            </div>

        </div>
    </div>

    </div>